<div class="black">
    <h2>
        Advisors
    </h2>
</div>
<ul class="auto-grid contributors" style="padding-bottom: 10vh;">
    <li>
      <img src="../media/img/about/team/Lars.png">
      <p>Lars Christensen</p>
      <p class="subtitle">International Economist</p>
    </li>
  
    <li>
      <img src="../media/img/about/team/Pinto.png">
      <p>Keenan Pinto | MScEng</p>
      <p class="subtitle">Strategic Advisor & Partner</p>
    </li>
  
    <li>
      <img src="../media/img/about/team/Perl.png">
      <p>Dr. Leor Perl | MD</p>
      <p class="subtitle">Medical Advisor</p>
    </li>
  
    <li>
      <img src="../media/img/about/team/Itay.png">
      <p>Itay Cohen | MScEng</p>
      <p class="subtitle">Tech & Hardware Advisor</p>
    </li>
</ul>  