<div class="black">
    <h2>
        Founders
    </h2>
</div>

<section class="founder">
    <img class="imgfull" src="../media/img/bg/field.webp">
  
    <div>
        <img src="../media/img/about/Daniel.png" style="padding-bottom: 4vh; width: 18vw;">
        <h3>Daniel Dudas-Schwarz</h3>
        <h4 class="subtitle">CEO & Co-Founder</h4>
    </div>
  
    <p class="whoami">"In Liv, we are on a mission to democratize healthcare. We believe healthcare should be a human right. We want to make health easy, accessible and affordable for all. "</p>
</section>
  
<section class="founder">
    <img class="imgfull" src="../media/img/bg/fly.webp">

    <p class="aboutme whoami">"We make health easy and accessible for all. we enable anyone"</p>

    <div>
        <img src="../media/img/about/Sachin.png" style="padding-bottom: 4vh; width: 18vw;">
        <h3>Sachin Prathaban</h3>
        <h4 class="subtitle">CTO & Co-Founder</h4>
    </div>
</section>

<section class="founder">
    <img class="imgfull" src="../media/img/bg/bike.webp">

    <div>
        <img src="../media/img/about/Max.png" style="padding-bottom: 4vh; width: 18vw;">
        <h3>Max Darski</h3>
        <h4 class="subtitle">CPO & Co-Founder</h4>
    </div>

    <p class="whoami">"We make health easy and accessible for all. we enable anyone"</p>
</section>