<div class="black">
    <h2>
        Team
    </h2>
</div>
<ul class="auto-grid team">

    <li>
      <img src="../media/img/about/team/Sara.png">
      <p>Sarah Prická</p>
      <p class="subtitle">Marketing & SoMe Assistant</p>
    </li>
  
    <li>
      <img src="../media/img/about/team/Nicklas.png">
      <p>Nicklas Elsborg Jønsson</p>
      <p class="subtitle">Business Developer</p>
    </li>
  
    <li>
      <img src="../media/img/about/team/Resit.png">
      <p>Resit Kadir</p>
      <p class="subtitle">Data Scientist & ML Engineer</p>
    </li>
  
    <li>
      <img src="../media/img/about/team/Luigi.png">
      <p>Luigi Di Gennaro</p>
      <p class="subtitle">Full Stack Designer</p>
    </li>
  
    <li>
      <img src="../media/img/about/team/Lorenzo.png">
      <p>Lorenzo Zanchetta</p>
      <p class="subtitle">UX/UI & Web Developer</p>
    </li>
  
    <li>
      <img src="../media/img/about/team/Katarina.png">
      <p>Katarina Michelova</p>
      <p class="subtitle">Global Health Researcher</p>
    </li>
  
    <li>
      <img src="../media/img/about/team/Alex.png">
      <p>Alex Abades Grimes</p>
      <p class="subtitle">Data Scientist & ML Engineer</p>
    </li>
  
    <li>
      <img src="../media/img/about/team/Katarzyna.png">
      <p>Katarzyna Król</p>
      <p class="subtitle">Data Scientist & ML Engineer</p>
    </li>
    
</ul>  