<div class="black">
    <h2>
        Team
    </h2>
</div>
<ul class="auto-grid team">

    <li>
      <img src="../media/img/about/team/Sara.png">
      <a target="blank" href="https://www.linkedin.com/in/sarah-prick%C3%A1/"><p>Sarah Prická</p></a>
      <p class="subtitle">Marketing & SoMe Assistant</p>
    </li>
  
    <li>
      <img src="../media/img/about/team/Nicklas.png">
      <a target="blank" href="https://www.linkedin.com/in/nicklas-elsborg-jonsson/"><p>Nicklas Elsborg Jønsson</p></a>
      <p class="subtitle">Business Developer</p>
    </li>
  
    <li>
      <img src="../media/img/about/team/Resit.png">
      <a target="blank" href="https://www.linkedin.com/in/resit-kadir-3a991a12a/"><p>Resit Kadir</p></a>
      <p class="subtitle">Data Scientist & ML Engineer</p>
    </li>
  
    <li>
      <img src="../media/img/about/team/Luigi.png">
      <a target="blank" href="https://www.linkedin.com/in/luigi-di-gennaro/"><p>Luigi Di Gennaro</p></a>
      <p class="subtitle">Full Stack Designer</p>
    </li>
  
    <li>
      <img src="../media/img/about/team/Lorenzo.png">
      <a target="blank" href="https://lorenzozanca.com"><p>Lorenzo Zanchetta</p></a>
      <p class="subtitle">UX/UI & Web Developer</p>
    </li>
  
    <li>
      <img src="../media/img/about/team/Katarina.png">
      <a target="blank" href="https://www.linkedin.com/in/katarina-michelova/"><p>Katarina Michelova</p></a>
      <p class="subtitle">Global Health Researcher</p>
    </li>
  
    <li>
      <img src="../media/img/about/team/Alex.png">
      <p>Alex Abades Grimes</p>
      <p class="subtitle">Data Scientist & ML Engineer</p>
    </li>
  
    <li>
      <img src="../media/img/about/team/Katarzyna.png">
      <p>Katarzyna Król</p>
      <p class="subtitle">Data Scientist & ML Engineer</p>
    </li>
    
</ul>  