<div class="cookies-new">
<div id="quit-cookies" class="quit-cookies">
    <img src="../media/img/svg/x.svg">
</div>
<h3>Cookie Policy</h3>
<p>
    We use cookies on our website to give you the most relevant experience by remembering your preferences and repeat visits.
    By clicking “Accept”, you consent to the use of the cookies. To find out more, read our <a href="../privacy/">Privacy Policy</a> and <a href="../cookies/">Cookie Policy</a>.
</p>
<div>
    <button id="accept-cookies" class="btn normal-btn">
        Accept
    </button>
    <button id="decline-cookies" class="btn negative-btn" style="margin-left: 10px;">
        Disable All
    </button>
</div>
</div>

<script>
    const cookies = document.querySelector(".cookies-new");
    const accetpt = document.getElementById("accept-cookies");
    const decline = document.getElementById("decline-cookies");
    const quit = document.getElementById("quit-cookies");

    accetpt.addEventListener("click", () => {
        cookies.classList.remove("cookie-active");
        localStorage.setItem("cookieBannerDisplayed", "true");
    });

    quit.addEventListener("click", () => {
        cookies.classList.remove("cookie-active");
        localStorage.setItem("cookieBannerDisplayed", "true");
    });

    decline.addEventListener("click", () => {
        cookies.classList.remove("cookie-active");
        localStorage.setItem("cookieBannerDisplayed", "true");
        console.log("cookies-declined");
    });

    setTimeout(() => {
        if(!localStorage.getItem("cookieBannerDisplayed")){
            cookies.classList.add("cookie-active");
        }
    }, 2000);

</script>