<div class="cookies-new">
<div class="quit-cookies">
<img src="../media/img/svg/x.svg">
</div>
<h3>Cookie Policy</h3>
<p>
    We use cookies on our website to give you the most relevant experience by remembering your preferences and repeat visits.
    By clicking “Accept”, you consent to the use of the cookies. To find out more, read our <a href="../privacy/">Privacy Policy</a> and <a href="../cookies/">Cookie Policy</a>.
</p>
<div>
    <button id="cookiebtn" class="custom-btn">
        Accept
    </button>
    <button class="negative-btn" style="margin-left: 10px;">
        Disable All
    </button>
</div>
</div>

<script>
    const cookies = document.querySelector(".cookies-new");
    const cookiebtn = document.getElementById("cookiebtn");

    cookiebtn.addEventListener("click", () => {
        cookies.classList.remove("cookie-active");
        localStorage.setItem("cookieBannerDisplayed", "true");
    });

    setTimeout(() => {
        if(!localStorage.getItem("cookieBannerDisplayed")){
            cookies.classList.add("cookie-active");
        }
    }, 2000);

</script>