<div class="world">
    <p>Imagine a <span style="color: #ED1E40;">world</span></p>
</div>

<section class="everything" id="everything" style="z-index: 2;">
    <div id="bgsvg" class="bgSignal">
        <!-- <img id="sig3" src="../media/img/signal/3.svg">
        <img id="sig2" src="../media/img/signal/2.svg">
        <img id="sig1" src="../media/img/signal/1.svg"> -->
    </div>

    <div class="bbb" id="fix1"><p>everything</p></div>
    <div class="ddd" id="fix2"><p>you</p></div>
    <div class="aaa"><p>Where</p></div>
    <div class="ccc"><p>around</p></div>
    <div class="aaa" style="top:140vh; left: 5vw;"><p>Knows</p></div>
    <div class="ccc" style="top:140vh"><p>about</p></div>
</section>

<script>

const every = document.getElementById("everything");
var everyY = every.getBoundingClientRect();

const fixel1 = document.getElementById("fix1");
const fixel2 = document.getElementById("fix2");
const bgbg = document.getElementById("bgsvg");
const ss1 = document.getElementById("sig1");
const ss2 = document.getElementById("sig2");
const ss3 = document.getElementById("sig3");

function eve() {

    var everyY = every.getBoundingClientRect();

    if (everyY.bottom > window.innerHeight && 0 > everyY.top) {
        // during the section
        fixel1.style.position = "fixed";
        fixel2.style.position = "fixed";
        bgbg.style.position = "fixed";
        bgbg.style.top = "0vh";
        fixel1.style.top = "40vh";
        fixel2.style.top = "40vh";
        fixel2.style.right = "4vw";
        // if ((-0.3 * window.innerHeight) > everyY.top){
        //     ss1.style.display = "block";
        //     if ((-0.6 * window.innerHeight) > everyY.top) {
        //         ss2.style.display = "block";
        //         if ((-0.9 * window.innerHeight) > everyY.top) {
        //             ss3.style.display = "block";
        //         }
        //     }
        // }
    } else {
        fixel1.style.position = "absolute";
        fixel2.style.position = "absolute";
        bgbg.style.position = "absolute";

        // ss1.style.display = "none";
        // ss2.style.display = "none";
        // ss3.style.display = "none";
        if(everyY.bottom < window.innerHeight){
            //after the section
            bgbg.style.top = "100vh";
            fixel1.style.top = "140vh";
            fixel2.style.top = "140vh";
            fixel2.style.right = "8vw";

            // ss1.style.display = "block";
            // ss2.style.display = "block";
            // ss3.style.display = "block";
        }
    }
}

window.addEventListener("scroll", eve);

</script>