
<section class="everything" id="everything" style="z-index: 2;">

    <div id="world" class="world">
        <p>Imagine a <span style="color: #ED1E40;">world</span></p>
    </div>

    <div class="bbb" id="fix1"><p>everything</p></div>
    <div class="ddd" id="fix2"><p>you</p></div>
    <div class="aaa"><p>Where</p></div>
    <div class="ccc"><p>around</p></div>
    <div class="aaa" style="top:150vh; left: 5vw;"><p>Knows</p></div>
    <div class="ccc" style="top:150vh"><p>about</p></div>
</section>

<script>

const world = document.getElementById("world");
const fix1 = document.getElementById("fix1");
const fix2 = document.getElementById("fix2");

function eve() {

    var every = document.getElementById("everything").getBoundingClientRect();

    if (every.bottom > window.innerHeight && 0 > every.top) {
        // during the section
        fix1.style.position = "fixed";
        fix1.style.top = "50vh";
        fix2.style.position = "fixed";
        fix2.style.top = "50vh";
        fix2.style.right = "4vw";
    } else {
        fix1.style.position = "absolute";
        fix2.style.position = "absolute";
        if(every.bottom < window.innerHeight){
            fix1.style.top = "150vh";
            fix2.style.top = "150vh";
            fix2.style.right = "8vw";
        }
    }
}

window.addEventListener("scroll", eve);

</script>