<div class="footer">
    <div class="foot on">
        <ul>
            <li class="footNo" style="padding-top: 0; padding-bottom: 0;"> 
            <a href="../">
                <img src="../media/img/svg/liv-red.svg" alt="Liv logo">
            </a>
            </li>
            <li><a href="../about/index.html">About</a></li>
            <li><a href="../contact/index.html">Contact</a></li>
        </ul>
    </div>
    <div class="foot to">
        <ul>
            <li>Liv Aps</li>
            <li>CVR 38919776</li>
            <li><a href="mailto:hello@livpatch.co">hello@livpatch.co</a></li>
        </ul>
    </div>
    <div class="foot to">
        <ul>
            <li>Marstalsgade 6, 4. tv 2100 Copenhagen Ø Denmark</li>
            <li><a href="../privacy/">Privacy Policy</a></li>
        </ul>
    </div>
    <div class="foot on social" style="padding-left: 10vw;">
        <ul>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <img src="../media/img/svg/ig.svg" alt="Instagram Account">
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <img src="../media/img/svg/fb.svg" alt="Facebook Account">
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/company/livpatch/" target="_blank">
                    <img src="../media/img/svg/in.svg" alt="Linkedin Account">
                </a>
            </li>
        </ul>
    </div>
</div>