<div id="navbar" class="navbar">
    <div class="logo">
        <a href="../">
            <img src="../media/img/svg/liv.svg" alt="">
        </a>
    </div>
    <nav id="menu" class="menu">
        <ul>
            <li>
                <a href="../about/" id="menucolor">
                    About
                </a>
            </li>
            <li>
                <a href="../contact/" id="menucolor2">
                    Contact
                </a>
            </li>
        </ul>

    <button class="custom-btn exception richiesta" data-tf-popup="jzXRJvUw" data-tf-iframe-props="title=Newsletter Signup Form (copy)" data-tf-medium="snippet">Request Access</button><script src="//embed.typeform.com/next/embed.js"></script>

    </nav>
</div>

<script>
var prevScrollpos = window.pageYOffset;
var navbar = document.getElementById("navbar");

function menu() {
    var currentScrollPos = window.pageYOffset;
    if(currentScrollPos == 0){
        navbar.classList.remove("navBG");
        navbar.style.top = "0";
    } else {
        navbar.classList.add("navBG");
    }

    if (prevScrollpos >= currentScrollPos) {
        navbar.style.top = "0";
    } else {
        navbar.style.top = "-100px";
    }
    prevScrollpos = currentScrollPos;
}

window.addEventListener("scroll", menu);
</script>