<section id="lineSection">
    <div class="device bgD" id="devices" style="display: none;">
        <img src="../media/img/device/1.svg">
        <img src="../media/img/device/2.svg">
        <img src="../media/img/device/3.svg">
        <img src="../media/img/device/4.svg">
        <img src="../media/img/device/5.svg">
        <img src="../media/img/device/6.svg">
    </div>
    <div class="device bgDG" id="glitched" style="display: none;">
        <img src="../media/img/device/1g.svg">
        <img src="../media/img/device/2g.svg">
        <img src="../media/img/device/3g.svg">
        <img src="../media/img/device/4g.svg">
        <img src="../media/img/device/5g.svg">
        <img src="../media/img/device/6g.svg">
    </div>

    <div id="hider" class="hider"></div>

    <div class="transition" style="display: none;" id="lines">
        <div class="line firstLine">
            <img src="../media/img/linee/firstLine.svg">
        </div>
    
        <div class="line firstConv" id="firstConverge">
            <img src="../media/img/linee/firstConv.svg">
        </div>

        <!-- <img id="crypto" src="../media/img/device/cript.svg"> -->
        <div id="crypto"> ENCRYPTING </div>

        <div class="line secondLine" id="lines2">
            <img src="../media/img/linee/secondLine.svg">
        </div>

        <div class="line secondConv" id="secondConverge">
            <img src="../media/img/linee/secondConv.svg">
        </div>
    </div>

    <!-- <img style="position: relative; width: 30%; left: 35%; top: 280vh; opacity: 1;" src="../media/img/device/circle.svg"> -->
    <img id="brain" class="brain brainPiccolo" src="../media/img/device/bbrain.svg">
</section>

<script>

const devices = document.getElementById("devices");
const glitched = document.getElementById("glitched");
const lines = document.getElementById("lines");
const brain = document.getElementById("brain");
const hider = document.getElementById("hider");

function line() {

    //entra nella sezione
    var lineY = document.getElementById("lineSection").getBoundingClientRect();

    if ((0.45 * window.innerHeight) >= lineY.top && 0 <= (lineY.bottom + window.innerHeight)){
        //mostra linee, device fissi e blocco nero

        lines.style.display = "block";
        brain.style.display = "block";

        devices.style.display = "block";
        devices.style.position = "fixed";
        hider.style.display = "block";

        //prima convergenza
        var converge1 = document.getElementById("firstConverge").getBoundingClientRect();

        if((0.25 * window.innerHeight) >= converge1.top){
            //console.log("convergenza = " + converge1.top);
            //rimpicciolisci device e modifica blocco nero
            devices.classList.add("piccolo");
            hider.classList.add("hider2");

            //passa per il muro
            var crypto = document.getElementById("crypto").getBoundingClientRect();
            var pad = 0.12 * window.innerHeight;

            if((0.2 * (window.innerHeight + pad)) > crypto.top && converge1.top < 0){
                //console.log("muro = " + crypto.top);
                //sostituisci device
                devices.style.display = "none";
                glitched.style.display = "block";

                //seconda convergenza
                var converge2 = document.getElementById("secondConverge").getBoundingClientRect();
        
                if((0.3 * window.innerHeight) >= converge2.top){
                    //console.log("convergenza 2 = " + converge2.top);
                    //rimpicciolisci glitch e fai sparire tutto
                    glitched.style.transform = "scale(0.3)";
                    devices.style.display = "none";
                    brain.classList.remove("brainPiccolo");
                    brain.classList.add("brainGrande");
                    if((0.1 * window.innerHeight) >= converge2.top){
                        glitched.style.display = "none";

                        var end = brain.getBoundingClientRect();
                        if((-0.15 * window.innerHeight) > end.top){
                            hider.style.display = "none";
                        }else{
                            hider.style.display = "block";
                        }
                    }else{
                        glitched.style.display = "block";
                    }
                } else {
                    // console.log("NO convergenza 2");
                    glitched.style.transform = "scale(0.8)";
                    glitched.style.display = "block";
                    brain.classList.remove("brainGrande");
                    brain.classList.add("brainPiccolo");
                }

            }else{
                //console.log("NO muro");
                //sostituisci device
                devices.style.display = "block";
                glitched.style.display = "none";
            }

        }else{
            //console.log("NO convergenza");
            //device normali device e modifica blocco nero
            devices.classList.remove("piccolo");
            hider.classList.remove("hider2");
        }

    } else {
        //nascondi linee, device fissi e blocco nero
        devices.style.display = "none";
        devices.style.position = "absolute";
        lines.style.display = "none";
        brain.style.display = "none";
        hider.style.display = "none";
    }

}

window.addEventListener("scroll", line);

</script>