<style>
.scrolling-video-container {
    flex: 1;
    display: flex;
    justify-content: center;

    overflow: hidden;

    /* height: 100%; */
    width: 177.77777778vh; /* 100 * 16 / 9 */
    min-width: 100%;
    max-width: 100vw;
    max-height: 56.25vw; /* 100 * 9 / 16 */
}

/* .videotext{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    line-height: 1;
    font-weight: bold;
    font-size: 2.5em;
    height: 100vh;
    width: 90vw;
}

.videotext h1{
    font-size: 40px;
} */

.scrollVideoText{
    position: absolute;
    width: 30vw;
    line-height: 1;
    font-weight: bold;
}

.scrollVideoText h1{
    font-size: 40px;
    transition: all .3s ease-in-out;
    opacity: 0;
}

.scrollHead{
    text-align: right;
    right: 10vw;
    bottom: 20vw;
}
.scrollChest{
    left: 10vw;
    bottom: 20vw;
}
.scrollArms{
    text-align: right;
    right: 3vw;
    bottom: 20vw;
}
.scrollBust{
    left: 10vw;
    bottom: 10vw;
}

</style>

<div class="scrolling-video-container">

    <div style="position: absolute; z-index: 5;">
        <div class="videotext" style="height: 56.25vw;">
            <h1 id="scrolltext"></h1>
        </div>

        <div class="scrollVideoText scrollHead">
            <h1 id="scrollHead">Analyzing the <span style="color: #ED1E40; font-size: 60px;">head</span></h1>
        </div>
        <div class="scrollVideoText scrollChest">
            <h1 id="scrollChest">Analyzing the <span style="color: #ED1E40; font-size: 60px;">chest</span></h1>
        </div>
        <div class="scrollVideoText scrollArms">
            <h1 id="scrollArms">Analyzing the <span style="color: #ED1E40; font-size: 60px;">arms</span></h1>
        </div>
        <div class="scrollVideoText scrollBust">
            <h1 id="scrollBust">Analyzing the <span style="color: #ED1E40; font-size: 60px;">stomach</span></h1>
        </div>
    </div>

    <video style="z-index: 1;" src="../media/video/scan.mp4" id="videoScan" type="video/mp4" autoplay muted="muted" playsinline="" controlslist="nodownload"></video>

</div>

<script>
var videoScan = document.getElementById('videoScan');
const scrolltext = document.getElementById("scrolltext");

function thistext(){
    setTimeout(() => {
    document.getElementById("scrollHead").style.opacity = "1";
    // scrolltext.innerHTML = "We analize the head";
    }, "700")
    setTimeout(() => {
    document.getElementById("scrollHead").style.opacity = "0";
    document.getElementById("scrollChest").style.opacity = "1";
    // scrolltext.innerHTML = "We analize the chest";
    }, "4300")
    setTimeout(() => {
    document.getElementById("scrollChest").style.opacity = "0";
    document.getElementById("scrollArms").style.opacity = "1";
    // scrolltext.innerHTML = "We analize the arms";
    }, "8500")
    setTimeout(() => {
    document.getElementById("scrollArms").style.opacity = "0";
    document.getElementById("scrollBust").style.opacity = "1";
    // scrolltext.innerHTML = "We analize the bust";
    }, "13200")
    setTimeout(() => {
    document.getElementById("scrollBust").style.opacity = "0";
    // scrolltext.innerHTML = "";
    }, "16500")
}

videoScan.addEventListener('play', (event) => {
    thistext();
});

videoScan.addEventListener('ended', (event) => {
    videoScan.play();
    thistext();
});

</script>