<style>
#sotto {
  height:225vh;
  background: #000 url("../media/img/bodyFull.webp") no-repeat fixed 0px 0px;
  background-position: center; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

#overlay {
  border-top: 2px solid #ED1E40;
  border-bottom: 2px solid #ED1E40;
  position: relative;
  top: 100vh;
  height: 25vh;
  width: 100%;
  background: #000 url("../media/img/bodyScan.svg") no-repeat fixed 0px 0px;
  background-position: center; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
</style>

<div style="height:225vh">
    <div id="sotto">
      <div id="overlay"></div>
    </div>
</div>