<h3 class="fadingTitle">
	in an ultra secure and untraceable manner
</h3>

<div style="position: relative; height: 60vh;"></div>
<div id="lineSection">
    <div class="device bgD" id="basedevice" style="display: none;">
        <img id="rotateme1" src="../media/img/icons/Base.svg">
        <img id="rotateme2" src="../media/img/icons/Base.svg">
        <img id="rotateme3" src="../media/img/icons/Base.svg">
        <img id="rotateme4" src="../media/img/icons/Base.svg">
        <img id="rotateme5" src="../media/img/icons/Base.svg">
        <img id="rotateme6" src="../media/img/icons/Base.svg">
    </div>
    <div class="device bgD" id="devices" style="display: none;">
        <img src="../media/img/icons/Phone.svg" alt="Phone Icon">
        <img src="../media/img/icons/Ear.svg" alt="Earphone Icon">
        <img src="../media/img/icons/Pc.svg" alt="Pc Icon">
        <img src="../media/img/icons/Watch.svg" alt="Watch Icon">
        <img src="../media/img/icons/Cam.svg" alt="Cam Icon">
        <img src="../media/img/icons/Glasses.svg" alt="Glasses Icon">
    </div>

    <div class="device bgDG piccolo" id="glitched" style="display: none;">
        <img src="../media/img/icons/Glitch.svg">
        <img src="../media/img/icons/Glitch.svg">
        <img src="../media/img/icons/Glitch.svg">
        <img src="../media/img/icons/Glitch.svg">
        <img src="../media/img/icons/Glitch.svg">
        <img src="../media/img/icons/Glitch.svg">
    </div>

    <div id="hider" class="hider"></div>

    <div class="transition" style="display: none;" id="lines">
        <div class="line firstLine">
            <img src="../media/img/linee/firstLine.svg">
        </div>
    
        <div class="line firstConv" id="firstConverge">
            <img src="../media/img/linee/firstConv.svg">
        </div>

        <!-- <img id="crypto" src="../media/img/device/cript.svg"> -->
        <div id="crypto"> PRIVACY-FIRST POLICY </div>

        <div class="line secondLine" id="lines2">
            <img src="../media/img/linee/secondLine.svg">
        </div>

        <div class="line secondConv" id="secondConverge">
            <img src="../media/img/linee/secondConv.svg">
        </div>
    </div>

    <!-- <img style="position: relative; width: 30%; left: 35%; top: 280vh; opacity: 1;" src="../media/img/device/circle.svg"> -->
    <img id="brain" class="brain brainPiccolo" src="../media/img/icons/brain.svg">
</div>

<h3 class="fadingTitle">
    where all your data is combined in one centralized neural network
</h3>

<div style="height: 200vh; width: 100vw; position: relative; background-color: black;">

</div>


<script>

const basedevice = document.getElementById("basedevice");
const devices = document.getElementById("devices");
const glitched = document.getElementById("glitched");
const lines = document.getElementById("lines");
const brain = document.getElementById("brain");
const hider = document.getElementById("hider");

function line() {

    //entra nella sezione
    var lineY = document.getElementById("lineSection").getBoundingClientRect();

    if ((0.45 * window.innerHeight) >= lineY.top && 0 <= (lineY.bottom + window.innerHeight)){
        //mostra linee, device fissi e blocco nero

        document.getElementById("rotateme1").style.transform += "rotate(3deg)";
        document.getElementById("rotateme2").style.transform += "rotate(3deg)";
        document.getElementById("rotateme3").style.transform += "rotate(3deg)";
        document.getElementById("rotateme4").style.transform += "rotate(3deg)";
        document.getElementById("rotateme5").style.transform += "rotate(3deg)";
        document.getElementById("rotateme6").style.transform += "rotate(3deg)";

        lines.style.display = "block";
        brain.style.display = "block";

        basedevice.style.display = "block";
        basedevice.style.position = "fixed";

        devices.style.display = "block";
        devices.style.position = "fixed";

        hider.style.display = "block";

        //prima convergenza
        var converge1 = document.getElementById("firstConverge").getBoundingClientRect();

        if((0.25 * window.innerHeight) >= converge1.top){
            //console.log("convergenza = " + converge1.top);
            //rimpicciolisci device e modifica blocco nero
            devices.classList.add("piccolo");
            basedevice.classList.add("piccolo");

            hider.classList.add("hider2");

            //passa per il muro
            var crypto = document.getElementById("crypto").getBoundingClientRect();
            var pad = 0.06 * window.innerHeight;

            if((0.3 * (window.innerHeight + pad)) > crypto.top && converge1.top < 0){
                //console.log("muro = " + crypto.top);
                //sostituisci device

                // basedevice.style.display = "none";
                // devices.style.display = "none";
                glitched.style.display = "block";

                //seconda convergenza
                var converge2 = document.getElementById("secondConverge").getBoundingClientRect();
        
                if((0.3 * window.innerHeight) >= converge2.top){
                    //console.log("convergenza 2 = " + converge2.top);
                    //rimpicciolisci glitch e fai sparire tutto
                    glitched.classList.add("piccolissimo");
                    devices.classList.add("piccolissimo");
                    basedevice.classList.add("piccolissimo");

                    brain.classList.remove("brainPiccolo");
                    brain.classList.add("brainGrande");
                    if((0.1 * window.innerHeight) >= converge2.top){
                        glitched.style.display = "none";
                        devices.style.display = "none";
                        basedevice.style.display = "none";

                        var end = brain.getBoundingClientRect();
                        if((-0.15 * window.innerHeight) > end.top){
                            hider.style.display = "none";
                        }else{
                            hider.style.display = "block";
                        }
                    }else{
                        glitched.style.display = "block";
                    }
                } else {
                    // console.log("NO convergenza 2");
                    basedevice.classList.remove("piccolissimo");
                    devices.classList.remove("piccolissimo");
                    glitched.classList.remove("piccolissimo");

                    glitched.style.display = "block";
                    brain.classList.remove("brainGrande");
                    brain.classList.add("brainPiccolo");
                }

            }else{
                //console.log("NO muro");
                //sostituisci device

                // basedevice.style.display = "block";
                // devices.style.display = "block";
                glitched.style.display = "none";
            }

        }else{
            //console.log("NO convergenza");
            //device normali device e modifica blocco nero
            basedevice.classList.remove("piccolo");
            devices.classList.remove("piccolo");

            glitched.style.display = "none";

            hider.classList.remove("hider2");
        }

    } else {
        //nascondi linee, device fissi e blocco nero
        basedevice.style.display = "none";
        basedevice.style.position = "absolute";
        devices.style.display = "none";
        devices.style.position = "absolute";

        glitched.style.display = "none";

        lines.style.display = "none";
        brain.style.display = "none";
        hider.style.display = "none";
    }

}

window.addEventListener("scroll", line);

</script>

<script>

    var targets = document.querySelectorAll(".fadingTitle");
    
    targets.forEach(target => {
    const tl = gsap.timeline({
            defaults: {duration: 1},
            scrollTrigger: {
            trigger: target,
            markers: false,
            scrub: true,
            start: "center 50%",
            end: "bottom top",
            pin: true
        }
    })
    .fromTo(target, {y: 60}, {y: -80})
    .from(target, {opacity: 0, duration: 0.3}, 0)
    .to(target, {opacity: 0, duration: 0.2}, 0.8)
    });
    
</script>