<div style="background-color: black; width: 100vw; height: 100vh; position: relative; display: block; z-index: 1;">

    <div class="scrolling-video-container">

        <div style="position: absolute; z-index: 5;">
            <div class="videotext" style="height: 56.25vw;">
                <h1 id="scrolltext"></h1>
            </div>
    
            <div class="scrollVideoText scrollHead">
                <h1 id="scrollHead">Analyzing the <span style="color: #ED1E40; font-size: 40px;">Electroencephalogram, eye-tracking, saliva, skin tone</span></h1>
            </div>
            <div class="scrollVideoText scrollChest">
                <h1 id="scrollChest">Analyzing the <span style="color: #ED1E40; font-size: 40px;">ECG</span></h1>
            </div>
            <div class="scrollVideoText scrollArms">
                <h1 id="scrollArms">Analyzing the <span style="color: #ED1E40; font-size: 40px;">blood pressure, spo2, GSR, muscle tension</span></h1>
            </div>
            <div class="scrollVideoText scrollBust">
                <h1 id="scrollBust">Analyzing the <span style="color: #ED1E40; font-size: 40px;"> EGG, gut health</span></h1>
            </div>
        </div>
    
        <video style="z-index: 1;" src="../media/video/scan.mp4" id="videoScan" type="video/mp4" autoplay muted="muted" playsinline="" controlslist="nodownload"></video>
    
    </div>

</div>

<div class="container"> Imagine the future of health </div>

<script>
var videoScan = document.getElementById('videoScan');
const scrolltext = document.getElementById("scrolltext");

$(document).ready(function(){
  $(videoScan).on(
    "timeupdate", 
    function(event){
      onTrackedVideoFrame(this.currentTime, this.duration);

    if(videoScan.currentTime > 0.7){
        document.getElementById("scrollHead").style.opacity = "1";

        if (videoScan.currentTime > 4.3){
            document.getElementById("scrollHead").style.opacity = "0";
            document.getElementById("scrollChest").style.opacity = "1";
            
            if (videoScan.currentTime > 8.5){
                document.getElementById("scrollChest").style.opacity = "0";
                document.getElementById("scrollArms").style.opacity = "1";

                if (videoScan.currentTime > 13.2){
                document.getElementById("scrollArms").style.opacity = "0";
                document.getElementById("scrollBust").style.opacity = "1";

                    if (videoScan.currentTime > 16.5){
                    document.getElementById("scrollBust").style.opacity = "0";
                    }
                }
            }
        }
    } 

    });
});

function onTrackedVideoFrame(currentTime, duration){
    $("#current").text(currentTime); //Change #current to currentTime
    $("#duration").text(duration)
}

videoScan.addEventListener('ended', (event) => {
    videoScan.play();
});

</script>