/* ---------- BASIC HTML ---------- */
*,
:after,
:before {
    box-sizing: border-box;
    border-collapse: inherit;
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #000000;
}
::-webkit-scrollbar {
    width: 10px;
    height:16px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
    background-color: #000;
}
::-webkit-scrollbar-thumb {
    background: #ED1E40;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

/* ---------- MENU ---------- */
.navbar{
    width: 100vw; 
    height:80px; 
    position: fixed; 
    top:0; 
    left:0; 
    background-color:#000000c7; 
    z-index: 10; 
    transition: top 0.3s;
}
.menu{
    z-index: 2;
    position: absolute;
    height: 10vh;
    align-items: center;
    display: inline-flex;
    width: 460px;
    left: 2vw;
}
ul{
    display: flex;
    list-style-type: none;
    padding-left: 30px;
}

li{
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1.5em;
}
a{
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #ED1E40;
}

/* ---------- BUTTON ---------- */
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 20px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: #ED1E40;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px #8D1125,
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
.btn {
    border: none;
    color: #fff;
}
.btn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #8D1125,
     -4px -4px 5px 0px #8D1125,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}
.btn:hover {
    color: #000000;
    background: #ffffff;
    box-shadow:inset 2px 2px 2px 0px #e7e7e7,
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
}
.btn:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}
.btn:active {
    top: 2px;
}

/* ---------- DIV AND TEXT ---------- */
.videotext{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    line-height: 1;
    font-weight: bold;
    font-size: 2.5em;
    height: 100vh;
    width: 90vw;
}
.black{
    z-index: 1;
    position: relative;
    width: 100vw;
    background-color: #000000;
    padding:5vh;
}
.black h1{
    font-size: 130px;
    font-weight: bold;
    padding-top: 10vh;
}
.black h6{
    padding-top: 5vh;
    font-size: 70px;
    font-weight: bold;
    color:#ED1E40;
}
.black p{
    font-size: 45px;
}
.imagine{
    z-index: 1;
    height: 100vh;
    position: relative;
    width: 100vw;
    background-color: #000000;
}
.imaginehalf{
    z-index: 1;
    height: 60vh;
    position: relative;
    width: 100vw;
    background-color: #000000;
}
.imagine p {
    padding: 5vh;
    font-size: 130px;
    font-weight: bold;
}
.imaginehalf p {
    padding: 5vh;
    font-size: 130px;
    font-weight: bold;
}
.secure{
    height: 100vh;
    position: relative;
    background-image: url("../media/img/placeholder.webp");
    background-color: #000000;
}
.secure p{
    padding:5vh;
    position: absolute;
    font-size: 60px;
    font-weight: bold;
    bottom: 0;
}

/* ---------- EVERYTHING DIV ---------- */
.everything {
    height: 200vh;
    position: relative;
    background-color: #000000;
    font-size: 6vw;
    font-weight: bold;
}

.everything div{
    position: absolute;
}
.aaa{
    left: 4vw;
    top: 40vh;
}
.bbb{
    left: 26vw;
    top: 40vh;
}
.ccc{
    color: #ED1E40;
    left: 60vw;
    top: 40vh;
}
.ddd{
    right: 4vw;
    top: 40vh;
    transition: right 0.3s;
}
.bgDevice{
    text-align-last: justify;
    position: absolute;
    width: 80vw;
    min-height: 100vh;
    left: 10vw;
    top: 25vh;

    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.3s;
}
.transition{
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.6s;
}

.line{
    position: absolute; width: 100vw;
}
.line img{
    position: absolute;
}
.wa img{
    width: 20vw;
}
.hb img{
    height: 30vh;
}
.hc img{
    height: 100vh;
}
.hd img{
    height: 15vh;
}

.alternate{
    position: relative;
    top:25vh;
}
.bgSignal{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    left: 0;
    top: 0;
}
.bgSignal img{
    position: absolute;
    width: 100vw;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* ---------- VIDEO BACKGROUND ---------- */
.background-container {
    position: fixed;
    display: flex;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
}
.video-container {
    flex: 1;
    display: flex;
    justify-content: center;

    height: 100%;
    width: 177.77777778vh; /* 100 * 16 / 9 */
    min-width: 100%;
    max-width: 100vw;
    min-height: 56.25vw; /* 100 * 9 / 16 */
}
#bgVideo {
    flex: 1;
    background-color: #000;
    opacity: 1;
    visibility: visible;
}
.scroll-container {
    overflow: hidden;
}
.step {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    height: 100vh;
    width: 100%;
    text-align: center;
}
.step>div {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 40px;
    height: 100vh;
    width: 100%;
    color: #ffffff;
    opacity: 1;
}
.steppa {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
}
.steppa>div {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 40px;
    height: 100vh;
    width: 100%;
    color: #000000;
    opacity: 1;
}

/* ---------- COMPARISON ---------- */
.comparisonSection {
    position: relative;
}
.comparisonImage {
    width: 100vw;
    height: 100vh;
}
.afterImage {
    position: absolute;
    overflow: hidden;
    top: 0;
    transform: translate(100%, 0px);
}
.afterImage img {
    transform: translate(-100%, 0px);
}
.comparisonImage img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
}

/* ---------- FORM ---------- */
.myForm {
    width: 500px;
    height: 350px;
    /* position: absolute; */
    left: calc(50vw - 250px);
    /* top: 20vh; */
    display: inline-grid;
    align-items: center;
    text-align: left;
}
.input{
    height: 50px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    border: #ED1E40 solid;
    text-align: left;
    padding-left: 40px;
    font-size: 0.5em;
}
.advisor{
    position: absolute; 
    bottom: 10vh; 
    width: 40vw; 
    left: 30vw; 
    text-align: center;
}

/* ---------- FOOTER ---------- */
.footer {
    color: #000000;
    background-color: #ffffff;
    padding-bottom: 4vh;
    padding-top: 4vh;
}
.footer a{ color: #000000; }
.footer a:hover { color: #ED1E40; }
.foot { display: table-cell; }
.on { width: 20vw; }
.to { width: 30vw; }
.foot ul{ display: inline; }
.foot ul li{
    padding-top: 10px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {

.video-container{
    height: 100vh;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
}
.video-container video{
    max-width: 100vw;
    max-height: 100vh;
    object-fit: cover;
}

.videotext h1{
    font-size: 40px;
}

.imagine p{
    font-size: 40px;
}

.bgDevice{
    top:5vh;
}

.imagine{
    height: 50vh;
}

.alternate{
    top:5vh;
}

.bgDevice img{
    width: 30px;
}

.secure p{
    font-size: 40px;
}

.foot{
    display: initial;
}

.comparisonSection{
    overflow-x: hidden;
}

.myForm{
    width: 80vw;
}
}