html {
    height: 100%;
    color: #ffffff;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

h3 {
    font-size: 40px;
    line-height: 1.1;
    font-weight: normal;
}

.cookies-new{
    z-index: 10;
    position: fixed;
    right: 0;
    width: 35vw;
    padding: 2vw;
    margin: 3vh;
    font-size: 12px;
    line-height: 1.7;
    display: flex;
    background-color: #000000cb;
    border-radius: 20px;
    bottom: -100%;
    transition: all .3s ease-in-out;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-end;
}

.cookies-new p{
    padding-top: 50px;
    padding-bottom: 35px;
}

.cookies-new h3{
    font-size: 1.9em;
    position: absolute;
    top: 2vw;
    left: 2vw;
    margin-top: 15px;
}

.quit-cookies img{
    cursor: pointer;
    width: 12px;
    opacity: 0.6;
}

.quit-cookies img:hover{
    opacity: 1;
}

.cookies-new.cookie-active{ bottom:0; }

.cookies-container{
    z-index: 10;
    position: fixed;
    width: 100vw;
    padding: 2vh;
    font-size: 12px;
    display: flex;
    background-color: #00000050;

    bottom: -100%;
    transition: all .3s ease-in-out;
    justify-content: space-around;
}

.cookies-container.cookie-active{ bottom:0; }

.cookies-container p{
    width: calc(100vw - 350px);
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

/* ---------- MENU ---------- */

.navbar{
    width: 100vw; 
    height:80px; 
    position: fixed; 
    top:0; 
    left:0; 
    z-index: 10; 
    transition: top 0.3s;
    background-color: #00000000;

    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.navBG{
    background-color: #000000;
}

.logo{
    position: absolute;
    left: 5vw;
    height: 10vh;
    align-items: center;
    display: inline-flex;
}

.logo a{
    border: none;   
}
.logo a:hover{
    border: none;
}

.menu{
    z-index: 2;
    position: absolute;
    height: 10vh;
    align-items: center;
    display: inline-flex;
    width: 375px;
    right: 5vw;
}

ul {
    list-style-type: none;
}

.menu ul{
    display: flex;
    padding-left: 30px;
}

.menu li{
    padding-left:15px;
    padding-right: 15px;
    font-weight: bold;
    font-size: 15px;
}
.menu a{
    color: #fff;
    text-decoration: none;
    border-bottom: 1.2px solid #ffffff00;
    font-weight: normal;
}
.menu a:hover {
    transition: all .15s ease-in;
    border-bottom: 1.35px solid #fff;
}

a{
    color: #fff;
    text-decoration: none;
    border-bottom: 1.35px solid #fff;
}
/* ---------- BUTTON ---------- */

.btn{
    font-size: 13px;
    width: 130px;
    height: 40px;
    border-radius: 20px;
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
}

.normal-btn {
    color: #000;
    background: #fff;
    border: none;
}

.exception-btn {
    color: #000;
    background: #fff;
    border: 1px solid #000;
}

.negative-btn {
    color: #fff;
    background: #000000;
    border: 1px solid #fff;
}

.richiesta{
    width: auto;
    position: absolute;
    right: 0;
    height: 40px;
    align-items: center;
    display: inline-flex;
}

.video-container {
    flex: 1;
    display: flex;
    justify-content: center;
     height: auto;
     width: 100vw;
}

.scroll-container {
    overflow-y: scroll;
    width: 100vw;
}
.step {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 100%;
    text-align: center;
    /* visibility: hidden; */
}
.step>div {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;

    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    height: 100vh;
    width: 100%;
    color: #ffffff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    position: absolute;
    /* visibility: hidden; */
    z-index: 2;
    width: 100%;
    height: 100vh;
}

.steppa {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
}
.steppa>div {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 40px;
    height: 100vh;
    width: 100%;
    color: #000000;
    opacity: 1;
}

.videotext{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    line-height: 1;
    font-weight: bold;
    font-size: 2.5em;
    height: 100vh;
    width: 90vw;
}

/* ---------- LINES ---------- */

#lineSection{
    height: 335vh; 
    background-color: #000; 
    position:relative;
}

.device{
    text-align-last: justify;
    width: 80vw;
    /* min-height: 100vh; */
    left: 10vw;
    top: 21vh;
    z-index: 2;

    transition: all .3s ease-in-out;

    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 0.3s;
}
.device img { width: 11vw; }

.bgD{ position: absolute; z-index: 3; }
.bgDG{ position: fixed; z-index: 2; }

.line{
    position: absolute;
    width: 100vw;
}
.line img{
    position: absolute;
    width: 100vw;
}

.firstLine{ top: 45vh; }
.firstLine img{ height: 100vh; }

.firstConv{ top: 145vh; }
.firstConv img{ height: 20vh; }

.secondLine{ top: 165vh; }
.secondLine img{ height: 100vh; }

.secondConv{ top: 265vh; }
.secondConv img{ height: 15vh; }

#crypto {
    top: 200vh;
    
    position: absolute;
    display: grid;
    align-items: center;
    width: 80%;
    left: 10%;
    height: 6vw;
    border-radius: 3vw;
    background-color: #ED1E40;
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    opacity: 1;
    z-index: 10;
}

.brain{
    top: 270vh;
    position: relative;
    display: none; 
    opacity: 1; 
    z-index: 3;
}

.brainPiccolo{
    width: 20%; 
    left: 40%;

    transition: all .3s ease-in-out;
}

.brainGrande{
    width: 30%; 
    left: 35%;
    
    transition: all .3s ease-in-out;
}

.piccolo{
    transform: scale(0.8);
    transition: all .3s ease-in-out;
}

.piccolissimo{
    transform: scale(0.3);
    transition: all .3s ease-in-out;
}

.hider{
    height: 55vh; 
    display:none; 
    z-index:1; 
    position: fixed; 
    background-color: black; 
    width: 100vw; 
    top:0; 
    left: 0;
}

.hider2{
    height:48vh;
    transition: all .3s ease-in-out;
}

.transition{
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.6s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* ---------- CLOSING ---------- */

.closing{
    z-index: 1;
    /* height: 100vh; */
    position: relative;
    width: 100vw;
    background-color: #fff;
    color: black;
    display: flex;
    align-content: center;
    align-items: center;
    overflow: hidden;
}
.closing p {
    padding: 5vh;
    font-size:40px;
    font-weight: normal;
    width: 70vw;
}
.closing div {
    width: 30vw;
}